<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,">
    <title>Scénario 1</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div id="app">
        <div id="inventory" class="inventory">
            <h3>Inventaire</h3>
            <ul>
                <li v-if="hasKey">
                    <img src="../../assets/images/medieval-key.png" id="CleInv">
                    Clé</li>
            </ul>
        </div>
        <div id="background" @mousemove="updateCoordinates">
            <div class="score-timer">
                <p>Score: {{ score }}</p>
                <p>Temps restant: {{ timer }}s</p>
                <p>Fautes: {{ mistakes }}</p>
            </div>
            <button id="Riddle" class="object btn btn-primary interactobj" style="top: 370px; left: 260px;" data-toggle="modal" data-target="#modal1">Objet 1</button>
            <button id="key" class="object btn btn-primary interactkey" style="top: 830px; left: 90px;" data-toggle="modal" data-target="#modal2" v-if="!hasKey">
                <img src="../../assets/images/medieval-key.png" alt="key" style="width: 70px; height: 70px;"></button>
            <button id="tonneau" class="object btn btn-primar interactobj" style="top: 600px; left: 110px;" data-toggle="modal" data-target="#modal3">Objet 3</button>
            <button id="tableau" class="object btn btn-primary interactobj" style="top: 310px; left: 1170px;" data-toggle="modal" data-target="#modal4">Objet 4</button>
            <button id="Sortie" class="object btn btn-primary interactobj" style="top: 410px; left: 885px;" data-toggle="modal" data-target="#modal5">Sortie</button>
            <button id="Armoire" class="object btn btn-primary interactobj" style="top: 450px; left: 610px;" @click="openArmoireModal">Armoire</button>
        </div>
        <div id="coordinates">
            coordonnées: {{ coordinates.x }}, {{ coordinates.y }}
        </div>

        <!-- Modals -->
        <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal1Label">Objet 1</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Quelqu'un à la fênetre vous propose un énigme si vous trouvez la réponse il vous donnera un nombre vous aidant à sortir.
                            <br>
                            <br>
                            "Je parle mais je n'ai pas de bouche, j'entends mais je n'ai pas d'oreilles.<br>Je n'ai pas de corps, mais je suis animé par le vent.<br> Qui suis-je ?"</p>
                        <input type="text" v-model="userCode" class="form-control" placeholder="Entrez votre réponse">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-primary" @click="submitCode">Soumettre</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal2Label">Objet 2</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Vous avez récupérer une clé!, peut-être qu'elle ouvre quelque chose.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="getKey">Récupérer</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modal3Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal3Label">Objet 3</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ce tonneau semble rempli de quelque chose, tout comme les autres tonneaux de cette pièce.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-primary" @click="submitCode">Soumettre</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal4Label">Objet 4</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ce tableau semble étrange, de loin on pourrait croire qu'il y a quelqu'un sur cette peinture mais personne n'apparaît.
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="modal5Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal5Label">Sortie</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <em>Le bois, le geste, l’absence et le reflet sont les clés de ta liberté.
                        Comptez ce qui est fixe, souvenez-vous de ce qu’on vous a offert, remarquez ce qui manque, et observez ce qui se répète.
                        Assemblez ces vérités pour dévoiler le chiffre qui vous ouvrira la voie.</em>
                        <input type="text" v-model="exitCode" class="form-control" placeholder="Entrez le code de sortie">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-primary" @click="submitExitCode">Soumettre</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal6" tabindex="-1" aria-labelledby="modal6Label" aria-hidden="true">
            <div class="modal-dialog modal-lg-custom">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal6Label">Armoire</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       Vous trouvez dans cette armoire 7 bouteilles, correctement disposées.La personne vous ayant enfermé semblait avoir soif.
                       <br>
                       <img src="../../assets/images/locker-medieval.jpg" alt="armoire" style="width: 900px; height: 700px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.js"></script>
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>