body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#background {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/medieval-reception.jpg'); /* Chemin relatif au fichier CSS */
    background-size: cover;
    background-position: center;
}

.object {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

#coordinates {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}


#Riddle{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    opacity: 0.5;
}

#tonneau {
    width: 175px;
    height: 195px;
    opacity: 0.5;
}

#tableau{
    width: 80px;
    height: 90px;
    opacity: 0.5;
}

#Sortie{
    width: 120px;
    height: 190px;
    opacity: 0.5;
}

#key{
    background-color:transparent; border: none; ;
}

#Armoire{
    width: 180px;
    height: 230px;
    opacity: 0.5;
}


.inventory {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    z-index: 1000;
    color: white;
}

.inventory h3 {
    margin-top: 0;
}

.inventory ul {
    list-style-type: none;
    padding-left: 0;
}

.inventory li {
    margin: 5px 0;
}

.inventory img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.modal-dialog.modal-lg-custom {
    max-width: 50%; /* Adjust the percentage as needed */
}

.score-timer {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}